@import "main.rasi"

configuration {
    hover-select:                   true;
    me-select-entry:                "";
    me-accept-entry:                "MousePrimary";
}

window {
    width:      40%;
}

entry {
	horizontal-align:               0.5;
	padding:                        0px;
}

inputbar {
	children:   [ entry ];
	horizontal-align:               0.5;
}

element {
    	orientation:                    vertical;
    	padding:                        2% 0% 2% 0%;
}

element-icon {
    	size:                           48px;
    	horizontal-align:	 	0.5;
}

element-text {
    	expand:                         true;
    	horizontal-align:               0.5;
    	vertical-align:                 0.5;
    	margin:                         0.5% 0.5% -0.5% 0.5%;
}

listview {
    	columns:                        4;
    	lines:	                        3;
    	cycle:                          false;
    	dynamic:                        true;
    	layout:                         vertical;
		fixed-height:   				false;
}
