* {
  font-family: "JetBrainsMono Nerd Font Propo";
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 0;
  min-height: 0;
  margin: 0;
  padding: 0;
  box-shadow: none;
  text-shadow: none;
}

window#waybar {
  background: transparent;
}

window#waybar.main .modules-left,
window#waybar.main .modules-center,
window#waybar.main .modules-right {
  margin-left: 8px;
  margin-right: 8px;
}

#workspaces,
#clock,
#mpris,
#pulseaudio,
#cpu,
#memory,
#temperature,
#network,
#custom-screenshot,
#language,
#custom-updates,
#custom-r_border,
#custom-power,
#custom-l_border {
  color: @text;
  background: @background;
  margin: 4px 0px 4px 0px;
  padding: 0px 4px;
  transition: all 0.2s ease;
  min-height: 40px;
}

#custom-r_border {
  border-radius: 0px 20px 20px 0px;
  margin-right: 4px;
  padding-right: 4px;
  transition: all 0.2s ease;
}

#custom-l_border {
  border-radius: 20px 0px 0px 20px;
  margin-left: 4px;
  padding-left: 4px;
  transition: all 0.2s ease;
}

#custom-power:hover,
#clock:hover,
#mpris:hover,
#pulseaudio:hover,
#cpu:hover,
#memory:hover,
#temperature:hover,
#network:hover,
#custom-screenshot:hover,
#custom-updates:hover,
#language:hover {
  color: @text-select;
  transition: all 0.2s ease;
}

#workspaces {
  border-radius:20px;
  padding:0px 10px;
}

#workspaces button {
  all:unset;
  padding: 0px 5px;
  color: alpha(@text,.4);
  transition: all 0.2s ease;
}

#workspaces button:hover {
  color: @text;
  transition: all 0.2s ease;
}

#workspaces button.active {
  color: @text-select;
}

#workspaces button.empty {
  color: @bg-select;
}

#workspaces button.empty:hover {
  color: @text;
  transition: all 0.2s ease;
}

#workspaces button.empty.active {
  color: @text-select;
}

#taskbar {
    background-color: @background;
    color: @text;
    border-radius: 20px;
    padding: 0px 2px;
    margin: 4px 4px;
}

#taskbar.empty {
    background-color: transparent;
    padding: 0px;
    margin: 0px;
    border: 0px;
}

#taskbar button {
    padding: 4px;
    margin: 4px 2px;
    border-radius: 50%;
    box-shadow: none;
    border: none;
}

#taskbar button:hover {
    background-color: @bg-select;
    transition: all 0.2s ease;
}

#taskbar button.active {
    background-color: alpha(@text, 0.3);
    transition: all 0.2s ease;
}

#tray {
    background-color: @background;
    color: @text;
    border-radius: 20px;
    margin: 4px 4px;
    padding-right: 8px;
    padding-left: 8px;
}

#custom-power {
 border-radius: 20px;
 padding-right: 13px;
 padding-left: 13px;
 background-color: @background;
 color: @text;
 margin: 4px 4px;
}

tooltip {
 background-color: @background;
 padding: 3px; 
 border-radius: 20px;
 border: 2px solid @border;
}

tooltip label {
 padding: 5px;
 border-radius: 20px;
 color: @text;
}